extends  base.pug

block content
    h1 #{par1}  #{par3}
    div(style='margin-left: 20px;') 
      a(href='/') #{par2}
    div(class='container')
      div(class='row')            
          div(class="col-4")
            form(action="/submit-get-findOne" method="get")
              div 
                div 
                  label(for='first_name') First name 
                div  
                  input(type="text" name="first_name" id="first_name")
              div(style='padding-top:10px;')    
                div
                  label(for='last_name') Last name   
                div  
                  input(type="text" name="last_name" id="last_name")
              br   
              br  
              input(type="submit" value="Submit")
          div(class="col-4")                
            - var friends = par3                
            case friends
              when 0
                p no one              
              default
                p  #{par3.first_name}  #{par3.last_name}
          div(class="col-4")      
              p(class="text-muted") This text is muted.
              p(class="text-primary") This text is important.
              p(class="text-success") This text indicates success.
              p(class="text-info") This text represents some information.
              p(class="text-warning") This text represents a warning.
              p(class="text-danger") This text represents danger.
              p(class="text-secondary") Secondary text.
              p(class="text-dark") This text is dark grey.
              p(class="text-body") Default body color (often black).
              p(class="text-light") This text is light grey (on white background).
              p(class="text-white") This text is white (on white background).

      
      
      
      
    
